{% extends 'base_therapy.html' %}
{% load static %}
{% block title %}Techwell Therapy | About us{% endblock %}

{% block content %}
 <section class="about-section">
    <div class="hero-content">
      <h1> About Tech Well Therapy</h1>
      <h6> Empowering minds, healing hearts, restoring balance</h6>
      <p>At TechWell Therapy, we believe that mental health is the foundation of overall well-being. 
        Our mission is to provide compassionate, professional, and accessible therapy services that 
        empower individuals, couples, and organizations to thrive. Guided by care and expertise, 
        we walk with you on the journey to healing, growth, and resilience.
      </p>
      <a href="#" class="book-btn"> Discover Programs</a>
    </div>
  </section>
  <section class="content-section">
    <div class="content-card">
         <img src="{% static 'images/virtual.jpeg' %}" alt="" height="270">
         
    </div>
    <div class="content-card">
        <h2>Who We Are</h2>
        <h6>Blending professional counselling with impactful training in Kenya.</h6>
        <p>
            At Techwell Therapy, we believe mental health is the cornerstone of 
            a fulfilling life. Our mission is to provide accessible, professional 
            counselling and therapy services while equipping future mental 
            health practitioners through certified courses and training
        </p>
        <p>Founded with a passion for healing, we create a compassionate 
            environment where individuals, families, and communities can find 
            support, guidance, and growth. From one-on-one therapy sessions 
            to professional development programs, we are dedicated to 
            empowering lives
        </p>
        <a href="" class="book-btn">Learn more</a>      
    </div>
  </section>
 <section class="values-section">
        <div class="content-card">
            <h2 style="color: white;"> Our Mission & Vision</h2>
            <h6> Why We Exist and Where We re Going.</h6>
            <p> Our mission is to provide affordable, accessible, and professional therapy services that empower people to face life s challenges with confidence and hope
            </p>
        </div>
         <div class="values-container">
            <div class="values-card">
              <h4>Mission</h4>
                <hr>
                <p >Our mission is to provide affordable, accessible, and professional therapy services that 
                  empower people to face life s challenges with confidence and hope
                </p>
                <a href="{% url 'booking' %}" class="book-btn">Book now</a> 
            </div>
            <div class="values-card">
              <h4>Vision</h4>
              <hr>
                <p>Our vision is to create a community where mental health is prioritized, 
                  stigma is eliminated, and everyone has access to the care they deserve
                </p>
                <a href="{% url 'booking' %}" class="book-btn">Book now</a> 
            </div>
            <div class="values-card">
              <h4>Mission</h4>
              <hr>
                <p>At TechWell Therapy, our work is guided by values that ensure we provide the best 
                  care possible
                </p>
                <a href="{% url 'booking' %}" class="book-btn">Book now</a> 
            </div>
         </div>
    </section>
     <section class="content-section">
    <div class="content-card">
         <img src="{% static 'images/virtual.jpeg' %}" alt="" height="270">
         
    </div>
    <div class="content-card">
        <h2>Our Story</h2>
        <h6>A Journey of Care and Purpose.</h6>
        <p>
          TechWell Therapy was founded by Erastus Ivelia and his wife, Catherine Ivelia, 
          out of a shared passion for mental wellness and human connection. 
          What began as a vision to create a safe, supportive space for healing has now grown into 
          a trusted counseling practice.
        </p>
        <p> With a dedicated team of professional counselors, we continue to serve individuals, 
          families, and organizations with empathy and excellence
        </p>
        <a href="" class="book-btn">Learn more</a>      
    </div>
  </section>
     <section class="tag-section">
        <div class="tag-container">
            <div class="col-3">
                <h1>1125 +</h1>
                <p>Happy Clients</p>
            </div>
            <div class="col-3">
                <h1>2325 +</h1>
                <p>Sessions</p>
            </div>
            <div class="col-3">
                <h1>5 +</h1>
                <p>Years of Experience</p>
            </div>
            <div class="col-3">
                <h1>6 +</h1>
                <p>Experienced therapist</p>
            </div>
        </div>
    </section>
    <section class="service-section">
        <h2>Meet Our Team</h2>
        <h6>Compassionate professionals dedicated to your wellbeing.</h6>
        <p>At Techwell Therapy, we believe healing begins with people who care. Our team of experienced counsellors and 
            therapists is committed to guiding you with empathy, professionalism, and proven expertise. Led by our 
            founders, Erastus and Catherine Ivelia, we work together to create a safe and supportive environment for 
            individuals, couples, and organizations across Kenya.
        </p>
        <div class="service-container">
            <div class="services-card">
                <img src="{% static 'images/Erastus.png' %}" alt="" class="image">
                <h4>Erastus Ivelia</h4>
                <h5><strong>Founder & Lead Counsellor</h5></strong>
                <p> Specializes in individual and couples therapy with over 7 years of experience in guiding clients toward healing and personal growth</p>
            </div>
            <div class="services-card">
                <img src="{% static 'images/Catherine.png' %}" alt="" class="image">
                <h4>Catherine Ivelia</h4>
                <h5><strong>Co-Founder & Director</h5></strong>
                <p>Passionate about empowering communities, Catherine oversees wellness programs and brings a holistic approach to mental health support.</p>
            </div>
            <div class="services-card">
                <img src="{% static 'images/Grace.jpg' %}" alt="" class="image">
                <h4>Grace Awiti</h4>
                <h5><strong>Senior Counsellor</h5></strong>
                <p> Expert in stress management and workplace wellness, dedicated to helping clients build resilience.</p>
            </div>
        </div>
    </section>
    <section class="book-section">
      <div class="book-card" style="background-color: #4D7838;">
        <h4 style="color: white;">Why Book With Us?</h4>
        <ul>
          <li>Confidential & Professional Counseling</li>
          <li>Experienced Licensed Counselors</li>
          <li>Flexible In Person & Virtual Sessions</li>
          <li>Affordable & Transparent Pricing</li>
        </ul>
      </div>
      <div class="book-card" style="background-color: #aaf383;">
        <h4 style="color: white;">What to Expect After Booking</h4>
        <ul>
          <li>You ll receive a confirmation email/SMS</li>
          <li>A counselor will review your request</li>
          <li>We ll contact you within 24 hours</li>
          <li> Your journey to healing begins</li>
        </ul>
      </div>
    </section>
    <section class="contact-section">
    <h2>Get in Touch</h2>
    <h6>We re here to listen and support you.</h6>
    <p>Whether you re ready to book a session, have a question about our courses, or simply want to learn more, the Techwell Therapy team is here for you. </p>
      <p>Reach out today, your journey to healing starts with a conversation</p>
    <form method="POST" class="contact-form">
    {% csrf_token %}
   
    <div class="form-group">
        {{ form.name }}
        {% if form.name.errors %}
            <small class="error-text">{{ form.name.errors.0 }}</small>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.email }}
        {% if form.email.errors %}
            <small class="error-text">{{ form.email.errors.0 }}</small>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.subject }}
        {% if form.subject.errors %}
            <small class="error-text">{{ form.subject.errors.0 }}</small>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.message }}
        {% if form.message.errors %}
            <small class="error-text">{{ form.message.errors.0 }}</small>
        {% endif %}
    </div>

    <button type="submit" class="book-btn">Send Message</button>
</form>

</section> 

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
{% endblock %}
