{% extends "base_therapy.html" %}
{% load static %}
{% block title %} Therapy Hub| Contact us {% endblock %}
{% block content %}
<h2 class="h">Reach out to us</h2>
<form action="" method="POST">
    <h4>Contact Form</h4>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Send Message</button>
</form>
<section class="container-contact">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h5 class="h5"><strong>Reach us directly:</strong></h5>
    </div>
    <div class="col-md-4">
        <p class="paragraph"><i class="fas fa-home me-2"></i>Nairobi, Kenya</p>
        <p class="paragraph"><i class="fas fa-envelope me-2"></i>info@techwellsolution.com</p>
        <p class="paragraph"><i class="fas fa-envelope me-2"></i>erastusmatekwa@gmail.com</p>
        <p class="paragraph"><i class="fas fa-phone me-2"></i>+254-711 897 242</p>
    </div>
    <div class="col-md-2"></div>
</section>
{% endblock %}