{% extends "base_therapy.html" %}
{% load static %}
{% block title %} TechWell Solution | Therapy Hub{% endblock %}
{% block content %}
<section class="hero-section">
    <video autoplay muted playsinline class="hero-section-video">
        <source src="{% static 'videos/hero.mp4' %}" type="video/mp4">
        your browser does not support the video tag
    </video>
    <div class="hero-content">
        <h1>Welcome to TechWell Therapy Hub</h1>
        <h3><strong>Compassionate Counseling for a Happier, Healthier You</strong></h3>
        <p>
            At Techwell Therapy Hub, we provide a safe and supportive space for healing, 
            growth, and self-discovery. Together, we'll navigate your challenges and 
            empower you to live a happier, healthier life.
        </p>
        <button>Book a session now</button>
        <button>Learn more</button>
        
    </div>
</section>
<div class="container-one">
        <div class="card-one" >
            <h3>Your Partner in Growth and Healing</h3>
            <p>Hey there! I’m Erastus Ivelia Matekwa, and I’m so glad you’re here. Life can be overwhelming at
                times, and you don’t have to go through it alone. <br>
                Whether you’re dealing with stress, anxiety, 
                relationship struggles, or just feeling stuck, I’m here to help you navigate it all with compassion 
                and understanding.</p>
        </div>   
        <div class="card-one" >
             <h3>How I Can Help:</h3>
            <p>Everyone’s journey is different, and I’m here to support you with personalized counseling that fits your
                 needs. <br>
                 Whether you're looking for a space to talk, tools to manage anxiety, or guidance through life’s 
                challenges, I’m here to help.</p>
                <button class="btn">Learn more</button>
        </div> 
        <div class="card-one">
            <h3>My Services</h3>
            <p>Individual Therapy</p>
            <p>Anxiety & Stress Management</p>
            <p>Self-Esteem & Personal Growth</p>
            <p>Relationship & Couples Counseling</p>
             <p>Grief & Life Transitions Support</p>
        </div>      
    </div>
    
</div>

{% endblock %}